@import "../../assets/css/variables";


.offset-detail-wrapper {
  border: 1px solid $disabled-gray;
  height: 100%;
  .clear-filter {
    height: 50px;
    background-color: $disabled-gray;
    padding: 16px 14px;
    .filter-by{
      font-weight: bold
    }
  }
}
.reports-row-container {
  width: 100%;
  margin-bottom: 10px;
  .page-sub-title {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    width: calc(100% - 135px);
  }
}

.offset-detail-wrapper {
  background-color: $body-bg;
  padding: 0;
  border: 1px solid $disabled-gray;
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.3);
  margin: 0 0 25px;
     .tabs {
      border-bottom: 1px solid $disabled-gray;
      display: flex;
      position: relative;
      list-style: none;
      padding: 0 0 7px 0;
      height: 25px;
      margin-bottom: 0;
      width: 100%;
      li {
        display: inline-block;
        padding-right: 38px;
        font-size: 14px;
        width: auto;
        .tab-link {
          color: $gray-base;
          &.disabled {
            cursor: not-allowed;
          }
        }
        &.active {
          .tab-link {
            font-weight: 600;
          }
        }
      }
      #ManageAdminsTab {
        min-width: 147px;
        &.active ~ .line-ease {
          left: 0;
          width: 108px;
        }
      }
      #RemoteAccessTab {
        min-width: 139px;
        &.active ~ .line-ease {
          left: 148px;
          width: 99px;
        }
      }
      #IpRangeTab {
        min-width: 94px;
        &.active ~ .line-ease {
          left: 287px;
          width: 65px;
        }
      }
      #LicensesTab {
        min-width: 100px;
        padding-right: 25px;
        &.active ~ .line-ease {
          left: 0;
          width: 60px;
        }
      }
      #DetailsTab {
        min-width: 125px;
        padding-right: 0;
        &.active ~ .line-ease {
          left: 405px;
          width: 140px;
        }
      }
      .line-ease {
        background: $brand-primary;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
      }
    }
}

.institution-users-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
}

h3{
  font-weight: normal;
}