
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div *ngIf="showCarDetails" class="offset-detail-wrapper">
      <div class="clear-filter">
        <span class="filter-by">Car : {{car}}</span>
      </div>
      <div class="institution-users-wrapper">
          <div class="chart-container">
            <h3>Brand: {{topicOffsetData.brand}}</h3>
            <p>{{topicOffsetData.summary}}</p>
            <img src="{{topicOffsetData.imageUrls[0]}}" height="200" width="200">
            <p>{{topicOffsetData.description}}</p> 
            <img src="{{topicOffsetData.imageUrls[1]}}" height="250" width="250">
          </div>
      </div> 
    </div>
  </div>